<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woodward.owen.fitnessapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".graphical_analysis_package.GraphicalActivity"/>
        <activity android:name=".weight_tracking_package.TrackingHelpPage" />
        <activity
            android:name=".weight_tracking_package.timer.TimerPopUp"
            android:theme="@style/AppTheme.CustomTheme.NoTitle" />
        <activity
            android:name=".weight_tracking_package.EditExercise"
            android:parentActivityName=".weight_tracking_package.ExerciseTrackingActivity"/>

        <activity
            android:name=".weight_tracking_package.AddExercise"
            android:parentActivityName=".weight_tracking_package.ExerciseTrackingActivity" />
        <activity
            android:name=".weight_tracking_package.ExerciseTrackingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".plate_math_calculator_package.PlateMathCalcActivity"
            android:configChanges="orientation"
            android:parentActivityName=".weight_tracking_package.ExerciseTrackingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".plate_math_calculator_package.PlateMathBarbellEditPop"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".plate_math_calculator_package.PlateMathBarbellDeletePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".plate_math_calculator_package.HelpClass"
            android:theme="@style/AppTheme.CustomTheme" />
    </application>

</manifest>