<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woodward.owen.fitnessapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TrackingPackage.TrackingHelpPage"></activity>
        <activity
            android:name=".TrackingPackage.EditExercise"
            android:parentActivityName=".TrackingPackage.ExerciseTrackingActivity" />
        <activity
            android:name=".TrackingPackage.ExerciseTrackingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlateMathCalculatorPackage.PlateMathCalcActivity"
            android:configChanges="orientation"
            android:parentActivityName=".HomePagePackage.HomePage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HomePagePackage.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlateMathCalculatorPackage.PlateMathBarbellEditPop"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PlateMathCalculatorPackage.PlateMathBarbellDeletePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PlateMathCalculatorPackage.HelpClass"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".TrackingPackage.AddExercise"
            android:parentActivityName=".TrackingPackage.ExerciseTrackingActivity" />
    </application>

</manifest>